.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.imgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.backgroundImage {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.mainImage {
  max-width: 100%;
  height: auto;
}

.thumbnailContainer {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.thumbnail {
  width: 70px;
  height: 50px;
  margin: 0 5px;
  cursor: pointer;
  opacity: 0.6;
  transition: opacity 0.3s;
}

.thumbnail:hover,
.clicked {
  opacity: 1;
}

.btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* .textBtn {
  color: #694220; 
  font-size: 1vw;
  border: none;
  background-color: transparent;
  cursor: pointer;
  align-items: center;
  padding-right: 0.5vw;
  padding-left: 0.5vw;
}

.textBtn:hover {
  color: #471803;
} */

.btn:hover .icon {
  filter: brightness(0.8);
}

.icon {
  width: 3.5vw;
  height: auto;
}

.leftButton {
  position: absolute;
  left: 4%;
  top: 50%;
  transform: translateY(-50%);
}

.rightButton {
  position: absolute;
  right: 4%;
  top: 50%;
  transform: translateY(-50%);
}

.homeButton {
  position: absolute;
  left: 5%;
  top: 5%;
  transform: translateY(-50%);
  transform: translateX(-50%);
}