.container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.imgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.mainImage {
    max-width: 100%;
    height: auto;
}

.thumbnailContainer {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.thumbnail {
    width: 50px;
    height: 50px;
    margin: 0 5px;
    cursor: pointer;
    opacity: 0.6;
    transition: opacity 0.3s;
}

.thumbnail:hover,
.clicked {
    opacity: 1;
}

.btn {
    background-color: transparent;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin: 5px;
    border-radius: 5px;
}

.btn:hover .icon {
    filter: brightness(0.8);
}

.icon {
    width: 50px;
    height: 50px;
}

.leftButton {
    position: absolute;
    left: 40px;
    top: 50%;
    transform: translateY(-50%);
}

.rightButton {
    position: absolute;
    right: 40px;
    top: 50%;
    transform: translateY(-50%);
}