.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.backgroundImage {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.mainImage {
  max-width: 100%;
  height: auto;
}

.thumbnailContainer {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.thumbnail {
  width: 70px;
  height: 50px;
  margin: 0 5px;
  cursor: pointer;
  opacity: 0.6;
  transition: opacity 0.3s;
}

.thumbnail:hover,
.clicked {
  opacity: 1;
}

.btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.btn:hover .icon {
  filter: brightness(0.8);
}

.icon {
  width: 3.5vw;
  height: auto;
}

.leftButton {
  position: absolute;
  left: 2%;
  top: 50%;
  transform: translateY(-50%);
}

.rightButton {
  position: absolute;
  right: 2%;
  top: 50%;
  transform: translateY(-50%);
}

.homeButton {
  position: absolute;
  left: 4%;
  top: 4%;
  transform: translateY(-50%);
  transform: translateX(-50%);
}

.btnContainer {
  position: absolute;
  top: 68%;
  left: 50%;
  transform: translate(-50%, -50%);
  gap: 13vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.learnMoreBtn {
  background-color: #3d3d3d;
  color: #f2f2f2;
  border-radius: 50vw;
  width: 12vw;
  height: 3vw;
  border: transparent;
  font-size: 1.5vw;
  z-index: 1;
  cursor: pointer;
}

.buttonContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  top: 0%;
  z-index: 1;
  width: 100%;
  background: #3d3d3d;
  gap: 2vw;
}

.topBtn p {
  color: #F2F2F2; 
}

.topBtn {
  border-radius: 50vw;
  width: 15vw;
  height: 4vw;
  border: transparent;
  font-size: 1vw;
  text-decoration: none;
  background-color: #3d3d3d;
}

.topBtn:hover {
  filter: brightness(1.5);
}

.topBtn a {
  text-decoration: none;
}

.textBtn {
  color: #3d3d3d; 
  font-size: 1vw;
  border: none;
  background-color: transparent;
  cursor: pointer;
  align-items: center;
  padding-right: 0.5vw;
  padding-left: 0.5vw;
}

.textBtn:hover a {
  color: #767676;
}

.textBtn a {
  color: #3d3d3d; 
  text-decoration: none;
}