.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.imgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.backgroundImage {
  position: relative;
}

.mainImage {
  max-width: 100%;
  height: auto;
}

.thumbnailContainer {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.thumbnail {
  width: 70px;
  height: 50px;
  margin: 0 5px;
  cursor: pointer;
  opacity: 0.6;
  transition: opacity 0.3s;
}

.thumbnail:hover,
.clicked {
  opacity: 1;
}

.btn {
  background-color: transparent;
  border: none;
  padding: 10px;
  cursor: pointer;
  margin: 5px;
  border-radius: 5px;
}

.btn:hover .icon {
  filter: brightness(0.8);
}

.icon {
  width: 3.5vw;
  height: auto;
}

.leftButton {
  position: absolute;
  left: 2%;
  top: 50%;
  transform: translateY(-50%);
}

.rightButton {
  position: absolute;
  right: 2%;
  top: 50%;
  transform: translateY(-50%);
}

.homeButton {
  position: absolute;
  left: 4%;
  top: 3%;
  transform: translateY(-50%);
  transform: translateX(-50%);
}

.btnContainer {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  gap: 19vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.btnContainer2 {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  gap: 17.5vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.learnMoreBtn {
  background-color: black;
  color: white;
  border-radius: 50vw;
  width: 12vw;
  height: 3vw;
  border: transparent;
  font-size: 1.5vw;
  z-index: 1;
  cursor: pointer;
}

.accordionContainer {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  gap: 330px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.wrapper {
  display: flex;
  width: 100vw;
  height: 30vh;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  top: 5vw;
}

.accordion {
  width: 70vw;
  z-index: 10;
}

.item {
  background: black;
  border-radius: 2vw;
  margin-bottom: 0.25vw;
  padding: 2vw; 
  transition: background 0.5s ease, padding 0.5s ease;
}

.item.selected {
  background: white;
  border: 0.25vw solid black;
  border-radius: 2vw;
  margin-bottom: 0.25vw;
  padding: 1vw 2vw; 
}

.title {
  color: white;
  font-size: 1.5vw; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: color 0.5s ease;
}

.title.selected {
  background: linear-gradient(50deg, #75C8F6, #B78BFF);
  background-clip: text;
  color: transparent;
  font-size: 1.5vw; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.content {
  color: white;
  max-height: 0;
  overflow: hidden;
  transition: padding 0.5s ease, color 0.5s ease;
}

.content.show {
  color: black;
  max-height: 50vw; 
  height: auto;
  font-size: 1.25vw; 
  padding-top: 0.5vw; 
}